extends layout

block content
  if currentUser
    p= currentUser.username
    <a href="/logout">LOG OUT</a>
  else 
    <a href="/login">login</a>

  hr
  <a href="/new_message">New</a>
  hr
  if message_list
    each message in message_list
      form(method="POST" action=`/${message._id}/delete`)
        p= message.title
        p= message.message
        if currentUser && currentUser.member_status === "member"
          p= message.date_created
          p= message.user.username
        if currentUser && currentUser.isAdmin === true
          button delete message
      hr
  
