extends layout

block content
  if currentUser
    p= currentUser.username
    <a href="/logout">LOG OUT</a>
  else 
    <a href="/login">login</a>

  hr
  <a href="/new_message">New</a>
  hr
  if message_list
    each message in message_list
      div
        p= message.title
        p= message.message
        p= message.date_created
        p= message.user.username
      hr
  
