extends layout

block content
  main(class="flex-1 flex flex-col justify-center items-center gap-4")
    form(method="POST" action="/new_message" name="messageForm" class="flex flex-col gap-4 w-[350px] md:w-[500px]")
      h1(class="text-lg self-start") Post as: <span class="text-blue-500">#{currentUser.username}</span>
      div(class="flex flex-col")
        label(for="message_title") Title
        input(type="text" name="message_title" value=message_title?message_title:"" class="rounded border-black border-2 p-1 w-full h-[48px] focus:border-blue-500 focus:outline-none")
        if errors && errors.message_title
          small(class="text-red-500")= errors.message_title
      div(class="flex flex-col")
        label(for="message") Message
        textarea(type="text" rows="4" name="message" class="rounded border-black border-2 p-1 w-full focus:border-blue-500 focus:outline-none resize-none")=message?message:""
        if errors && errors.message
          small(class="text-red-500")= errors.message
      button(type="submit" class="text-white bg-blue-500 rounded w-full py-2") Submit
